@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Urbanist:ital,wght@0,200;0,600;0,900;1,300&display=swap');;
:root {
  --heading-font: Urbanist;
  --paragraph-font: Bitter, Georgia, serif;
}
* {
  margin: 0;
  padding: 0;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  background-color: #000000;
  color: white;
}
header a {
  color: white;
  text-decoration: none;
  font-family: bitter;
}
#logo-link {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.logo {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}
nav {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}
#on-spotify {
  grid-column: 3/4;
  grid-row:1/2;
  font-family: bitter;
  text-align: center;
  padding-top: 3vh;
}
#on-spotify a:hover {
  color: #0080FF;
}
#hero-box {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#hero-img {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
  z-index: -1; 
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  justify-self: center; 
  align-self: center;
  padding-bottom: 20%;
  font-family: Urbanist;
  font-size: 4em;
  text-align: center;
  color: #00376e;
  opacity: .5;
}
.contactme {
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 1;
  align-self: flex-end;
  justify-self: center;
  padding-bottom: 40%;
}
.contactme button{
  font-family: Urbanist;
  font-weight: 600;
  font-size: 1em;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 2vh 1.5vw;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: 10px;
}
.contactme button:hover {
  background-color: #c3a7f8;
  cursor:pointer;
}
.bio-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #0080FF;
  color: white;
}
#bio-img {
  grid-column: 2/5;
  grid-row: 1/3;
  align-self: flex-end;
  justify-self: center;
}
#bio-summary {
  grid-column: 2/5;
  grid-row: 3/4;
  justify-self: center;
  align-self: flex-start;
  padding-top: 5vh;
  font-family: Urbanist;
}
#bio-summary h2 {
  color: #6d04b2;
}
#bio-summary p {
  color: #c3a7f8;
}
#bio-img img {
  height: 350px;
  /* border-radius: 5px; */
  border-style: solid;
  border-width: 3px;
  border-color: #6d04b2;
}
#background {
  background-color: black;
  grid-column: 2/10;
  grid-row: 1/4;
  height: 75vh;
  border-radius: 10px;
  box-shadow: 25px 25px 3px #00376e;
}
.streaming {
  font-family: Urbanist;
  font-weight: 900;
  font-size: 3em;
  background-color: #6d04b2;
  color: #c3a7f8;
  grid-column: 5/10;
  grid-row: 1/2;
  border-radius: 0 10px 0 0;
  text-shadow: 4px 4px 2px rgb(32, 32, 32);
  height: 25vh;
  display: grid;
}
.streaming h2 {
  align-self: center;
  justify-self: center;
}
.music-links {
  grid-column: 5/10;
  grid-row: 2/4;
  background-color: rgb(61, 61, 61);
  border-radius: 0 0 10px 0;
  height: 50vh;
}

.overlay-button button {
  font-family: Urbanist;
  font-weight: 600;
  font-size: 1em;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 15px 1.5vw;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
#no-more {
  display: grid;
  grid-template-columns: 15vw 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 1.5vh;
}
#no-more, #heartbeat, #fallin-apart {
  color: #c3a7f8;
  font-family: urbanist;
}
#no-more h2, #heartbeat h2, #fallin-apart h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
#no-more a, #heartbeat a, #fallin-apart a {
 grid-column: 1/2;
 grid-row: 2/3;
 width: 8vw;
}
.overlay-button {
  grid-column: 2/3;
  grid-row: 2/3;
}
#heartbeat {
  display: grid;
  grid-template-columns: 15vw 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 1.5vh;
}
#fallin-apart {
  display: grid;
  grid-template-columns: 15vw 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 1.5vh;
}
#no-more a, #heartbeat a, #fallin-apart a{
  font-family: Urbanist;
  font-weight: 600;
  font-size: 1em;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 15px 32px;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: 10px;
}
#no-more a:hover, #heartbeat a:hover, #fallin-apart a:hover {
  background-color: #04d052;
}
.overlay-button button:hover {
  background-color: #0080FF;
}
footer {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  height: 15vh;
  background-color: #000000;
  color: white;
  font-size: 1.5em;
  font-family: Urbanist;
  font-weight: 300;
  font-style: italic;
  justify-self: center;
}
footer h1 {
  grid-column: 2/3;
  justify-self: center;
}
footer a {
  grid-column: 3/4;
  grid-row: 1/3;
  text-decoration: none;
  font-family: bitter;
  font-style: normal;
  color: white;
  font-size: .8em;
  align-self: center;
  justify-self: center;
}
nav a:hover, footer a:hover{
  color: #0080FF;
}
.social {
  grid-column: 2/3;
  justify-self: center;
}

body {
  background-color: black;
}

/* Contact Me Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(61, 61, 61);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: bitter;
  font-size: 1.7em;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0080FF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #6d04b2;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: rgb(61, 61, 61);
  padding: 20px;
}
form label {
  font-family: bitter;
  color: white;
}








































/* #content {
    display: grid;
}
.library-box {
    display: grid;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    /* width: 160px; /* Set the width of the sidebar */
    /* position: fixed; Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; Stay on top */
    /* top: 0; Stay at the top */
    /* left: 0; */
    /* background-color: #111; Black */
    /* overflow-x: hidden; Disable horizontal scroll */
    /* padding-top: 20px; */
  /* } */
  
  /* The navigation menu links */
  /* .sidenav a { */
    /* padding: 6px 8px 6px 16px; */
    /* text-decoration: none; */
    /* font-size: 25px; */
    /* color: #818181; */
    /* display: block; */
  /* } */
  
  /* When you mouse over the navigation links, change their color */
  /* .sidenav a:hover {
    color: #f1f1f1;
  } */
  
  /* .song-list {
    margin-left: 160px; /* Same as the width of the sidebar */
    /* padding: 0px 10px; */
  /* } */  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  /* @media screen and (max-height: 450px) { */
    /* .sidenav {padding-top: 15px;} */
    /* .sidenav a {font-size: 18px;} */
  /* } */