* {
    padding: 0;
    margin: 0;
}
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 40px;
    height: 100vh;
    width: 100vw;
} 
h1 {
    z-index: 1;
    text-align: center;
    font-size: 12em;
    letter-spacing: .1em;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
}
img {
    grid-column: 1/2;
    grid-row: 1/3;
}
#right-side {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: lightgrey;
}
p {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 7em;
    letter-spacing: .1em;
    align-self: center;
    color: darkred;
}