* {
    background-color: rgb(85, 83, 83);
}
body {
    margin: 0;
    padding: 0;
}
main img {
    margin: 0 auto;
    width: 100%;
}
footer {
    background-color: rgb(85, 83, 83);
    margin: 0px 0;
    text-align:center;
}
.circle_img img {
    border-radius: 50%;
    width: 300px;
    margin: 80px;
    border-width: 0px;
}
#desk {
    border: 12px solid rgba(8, 9, 9, 0.36);
    width: 15em;
    text-align: center;
}
#logo {
    border: 12px solid rgba(8, 9, 9, 0.36);
    width: 15em;
    text-align: center;
}
#person {
    border: 12px solid rgba(8, 9, 9, 0.36);
    width: 15em;
}