* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: 100vh;
}

header {
    grid-row: 1/2
}
img {
    width: 100vw;
}
p, h1, h4 {
    text-align: center;
    padding: 0 9%;
}
main {
    grid-row:2/3;
    align-self: start;
}
#time {
    color: rgb(40, 86, 151);
}
article p {
    color: #807e7e;
    
}
footer {
    grid-row: 3/4;
    height: 75px;
    background-color: rgb(40, 86, 151);
    color: white;
}
#stats {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}
#minutes {
    border-right: 1px solid grey;
    grid-column: 1/2;
}
#views {  
    border-right: 1px solid grey;
    grid-column: 2/3;
  
}
#comments {
    grid-column: 3/4;
}